<img id="banner" src="../../assets/Title.png" />
<!--<h1><img src="../../assets/icon.png"> 无冬镇物语</h1>-->

<!--<p>这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍这是介绍</p>-->

<div id="actions">
  <div class="row">
    <button id="windows" color="primary" mat-raised-button>
      <mat-icon>desktop_windows</mat-icon>
      PC 版下载
    </button>
    <button id="android" color="primary" mat-raised-button>
      <mat-icon>android</mat-icon>
      Android 版下载
    </button>
  </div>
  <div class="row">
    <button (click)="buy()" id="buy" color="accent" mat-raised-button>购买激活码</button>
  </div>
</div>
