h1 {
  text-align: center;
  padding-top: 200px;
}
#banner {
  position: absolute;
  left: 0;
  max-height: 70%;
}
h1 img {
  height: 64px;
  vertical-align: middle;
  margin-right: 10px;
}

p {
  text-align: center;
  max-width: 400px;
  margin: 30px auto 60px;
}

#actions {
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-right: 16px;
}

.row {
  display: flex;
}

button {
  margin: 0 0 16px 16px;
  flex: 1;
}

@media (orientation: landscape) {
  #actions {
    height: 100%;
  }
}

@media (orientation: portrait) {
  #actions {
    padding-top: 70vh;
    height: 30%;
  }
}

#windows {
}

#android {
  background-color: rgb(164, 198, 57);
}

/*#buy {*/
/*  width: 300px;*/
/*}*/

/*#android{*/
/*  */
/*}*/
